body {
  font-family: "Figtree";
}
.background {
  margin: 50px;
  padding: 20px 30px 20px 30px;
  border: 1px solid #f76b8a;
  border-radius: 20px;
  background-color: #fefefa;

}
.main-info {
  background-color: #fefefa;
}
input {
  margin: 10px 5px 10px 20px;
  padding: 0px 10px 0px 10px;
  width: 80%;
  max-width: 100%;
  text-align: center;
  border: 1px solid #f76b8a;
  border-radius: 15px;
  display: inline;
}
input:focus {
  outline-color: #f76b8a;
}
.citySearchButton {
  margin: 10px 10px 0px 5px;
  width: 100px;
  background: #f76b8a;
  color: #ffffff;
  display: inline;
}
.citySearchButton:hover {
  background-color: #ffffff;
  color: #f76b8a;
  transition: ease-in-out;
}
.today {
  position: fixed right;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  margin: 0px 0px 0px 25px;
}
h2 {
  font-size: 40px;
  height: 70px;
  margin: 0px;
  display: inline;
  padding: 5px 0px 0px 0px;
}
h3 {
  position: relative;
  width: 80%;
  display: inline;
}
p {
  font-weight: lighter;
  text-align: center;
}
h5 {
  text-align: right;
  margin: 20px 25px;
  font-size: 18px;
}
.forecast-max,
.forecast-min {
  display: inline;
}
.main-temp,
.max,
.min {
  color: #f76b8a;
}
#icon {
  width: 60px;
  height: 65px;
  padding: 0px 0px 10px 0px;
}
a {
  color: #f76b8a;
}
a :hover {
  color: #f76b8a;
  text
}
.forecast-data {
  background-color: #ceeaf7;
  border-radius: 20px;
  height:190px;
}
.forecast-icon {
  height: 40px;
}
#weeklyForecast {
  text-align: center;
}
.weekly-forecast-temp {
  width: 100%;
  text-align: center;
}
.future {
  text-align: left;
  font-size: 20px;
  margin: 0 10px;
}
footer {
  text-align: center;
  font-size: 10px;
}